
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>GBInfo - Get Book Info</title>
    <meta name="Keywords" content="info,book,isbndb,search" />
    <meta name="Description" content="Get book info details from isbndb" />
  </head>

  <body>
    <div class="header">
      <h1>GBInfo</h1>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
      <p>Copyright @ 2011 - Rosa María Durante Lerate</p>
      <a href="http://github.com/rosUnix/GBInfo">Enlace</a>
    </div>

  </body>
</html>
